# Archivos de sesión local de R
.RData
.Rhistory
.Rproj.user/

# Archivos generados por bookdown al compilar
_book/
_main_files/
_main.log
*_files/figure-html/

# Archivos de salida intermedios LaTeX
*.tex
*.aux
*.log
*.out
*.toc

# RStudio Connect / shinyapps.io
rsconnect/
